[Desktop Entry]
Version=1.0
Type=Application
Name=Dashboard Controller
Comment=Control your Personal Dashboard server
Exec=/home/glind/Projects/mine/dashboard/dashboard_control.py
Icon=application-default-icon
Terminal=false
Categories=Utility;Network;
Keywords=dashboard;server;control;
StartupNotify=true
